<!-- ADVERTISEMENT -->

<section class="advert">
    <div class="container advert-bg">
        <!-- ADVERTISEMENT TITLE (HIDDEN)-->
        <h2 class="advert-title visually-hidden">Advertisement</h2>
        <!-- ADVERTISEMENT TEXT -->
        <h3 class="advert-text">Choose <span class="advert-transparent-text">your story</span>, making every moment unique. Time is your style, and we reveal it.
        </h3>
        <!-- ADVERTISEMENT BUTTON TO NAVIGATE THE PAGE TO THE "CONTACT US" SECTION -->
        <a href="#" class="follow-to"> Contact Us </a>
    </div>
</section>