<section class="advert">
    <div class="container">
        <h2 class="advert-title visually-hidden">Advertisement</h2>
        <picture>
            <source media="(min-width: 1158px)" srcset="
                      /img/advertisement/advertisement-ds.png 1x,
                      /img/advertisement/advertisement-ds@2x.png 2x
                    " />
            <source media="(min-width: 768px)" srcset="
                      /img/advertisement/advertisement-tab.png 1x,
                      /img/advertisement/advertisement-tab@2x.png 2x
                    " />
            <source media="(max-width: 767px)" srcset="
                      /img/advertisement/advertisement-mob.png 1x,
                      /img/advertisement/advertisement-mob@2x.png 2x
                    " />
            <img src="/img/advertisement/advertisement-ds.png" alt="Advertisement" width="335" height="363" />
        </picture>
        <p>Choose <span class="advert-transparent-text">your story</span>, making every moment unique. Time is your style, and we reveal it.
        </p>
        <button type="button" class="press-key"> Contact Us </button>
    </div>
</section>