<!-- SECTION CONTACT_US -->

<section id="contact_us" class="section">
  <div class="container container-form-page-contact-us">
    <h2 class="title-page-contact-us">Contact Us</h2>
    <div class="form-img-block">
      <div class="block-form">
        <p class="description-form">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="page-contact-us-form">
          <input
            class="contact-form-input"
            type="text"
            placeholder="Name"
            name="user-name"
            aria-label="user-name"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄҐґʼ]{2,}"
          />
          <input
            class="contact-form-input"
            type="email"
            placeholder="Email"
            name="user-email"
            aria-label="user-email"
            required
          />
          <input
            class="contact-form-input"
            type="tel"
            placeholder="+380"
            name="user-tel"
            aria-label="user-tel"
            pattern="[+][0-9]{12}"
            maxlength="13"
            required
          />
          <textarea
            class="contact-textarea-form"
            name="user-comment"
            aria-label="user-comment"
            placeholder="Comment"
          ></textarea>
          <button class="contact-form-btn" type="submit">Send</button>
        </form>
      </div>

      <picture class="img-page-contact-us">
        <source
          srcset="
            ./img/contact-us/contact-us-ds.webp    1x,
            ./img/contact-us/contact-us-ds@2x.webp 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./img/contact-us/contact-us-tab.webp    1x,
            ./img/contact-us/contact-us-tab@2x.webp 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./img/contact-us/contact-us-mob.webp    1x,
            ./img/contact-us/contact-us-mob@2x.webp 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="img-watch"
          src="./img/contact-us/contact-us-ds.webp"
          alt="fenix-pro"
        />
      </picture>
    </div>
  </div>
</section>
