<section class="section footer">
  <div class="container">

    <div class="footer-wrapper-one">

      <a href="../index.html" class="footer-logo">watchcharm</a>

      <ul class="media__list">
        
        <li class="media__item">
          <a href="https://www.facebook.com/goITclub/" class="media__link">
            <svg class="media__list-icon" width="18" height='18'>
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>

        <li class="media__item">
          <a href="https://www.instagram.com/goitclub/" class="media__link">
            <svg class="media__list-icon" width="18" height='18'>
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>

        <li class="media__item">
          <a href="https://www.youtube.com/c/GoIT" class="media__link">
            <svg class="media__list-icon" width="18" height='18'>
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>

        
      </ul>

      <address>
        <a class="address__tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
      </address>

      

      <h2 class="footer__description">Have the time of your life with our watches: where high-class craftsmanship meets impeccable design</h2>

    

    </div>

    
  
    <div class="footer-wrapper-two">
      <div class="nav__footer">

        <ul class="nav__list">

        <li class="nav__item">
          <a href="#" class="nav__link">Home</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">About Us</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Catalog</a>
        </li>
        
        <li class="nav__item">
          <a href="#" class="nav__link">Sale</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Reviews</a>
        </li>

        <li class="nav__item">
          <a href="#" class="nav__link">Contact Us</a>
        </li>
        </ul>
  
        <address class="address__city">
          1678 S. Pioneer Road Salt Lake City UT 84104
        </address>
  
      </div>

      <div class="copyrigth-wrapper">
        
        <p class="copyright__description">&copy;2023 The Watch Spot. All rights reserved.</p>

        <ul class="copyrigth-rules__list">
          
          <li class="copyrigth-rules__list">
            <a href="copyrigth-rules__link">Terms of Service</a>
          </li>
          
          <li class="copyrigth-rules__list">
            <a href="copyrigth-rules__link">Privacy Policy</a>
          </li>

        </ul>
      </div>
    </div>

  </div>

  
  

  </div>
</section>