<header id="header" class="page-header">
    <div class="container container-header">
        <a class="logo logo-header" href="./index.html">watchcharm</a>
        <nav class="page-nav">
            <ul class="nav-list">
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="./index.html">Home</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#about_us">About Us</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#catalog">Catalog</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#sale">Sale</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#reviews">Reviews</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-list-item-link" href="#contact_us">Contact Us</a>
                </li>
            </ul>
        </nav>
        <ul class="social-list">
            <li class="social-list-item">
                <a class="social-list-item-link" href="https://www.facebook.com/goITclub/" target="_blank">
                    <svg class="svg-icon-social" width="20" height="20" aria-label="icon facebook">
                        <use href="/img/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a class="social-list-item-link" href="https://www.instagram.com/goitclub/" target="_blank">
                    <svg class="svg-icon-social" width="20" height="20" aria-label="icon instagram">
                        <use href="/img/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a class="social-list-item-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                    <svg class="svg-icon-social" width="20" height="20" aria-label="icon youtube">
                        <use href="/img/sprite.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="mobile-menu-open-btn" type="button">
            <svg class="svg-icon-menu" width="34" height="34" aria-label="menu open icon">
                <use href="/img/sprite.svg#icon-menu"></use>
            </svg>
        </button>
    </div>
</header>
