<section class="page-reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="swiper-slide">
          <div class="reviews-items">
            <picture>
              <source
                srcset="
                  /img/reviews/john-wax.webp    1x,
                  /img/reviews/john-wax@2x.webp 2x
                "
                media="(min-width: 320px)"
              />

              <img
                class="reviews-img"
                src="/img/reviews/john-wax.webp"
                width="56"
                height="56"
                alt="John Wax"
              />
            </picture>
            <h3 class="reviews-list-title">John Wax</h3>
            <p class="reviews-list-text">
              Buying a watch from was the best choice for me. The design is
              perfectly combined with high quality materials. The strap fits
              nicely on the hand, and the mechanism works flawlessly.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-items">
            <picture>
              <source
                srcset="
                  /img/reviews/victoria-romashenko.webp    1x,
                  /img/reviews/victoria-romashenko@2x.webp 2x
                "
                media="(min-width: 320px)"
              />

              <img
                class="reviews-img"
                src="../img/reviews/victoria-romashenko.webp"
                width="56"
                height="56"
                alt="Victoria Romashenko"
              />
            </picture>
            <h3 class="reviews-list-title">Victoria Romashenko</h3>
            <p class="reviews-list-text">
              Can't take my eyes off my watch from. Every time I put it on, it
              is admired by those around me. The build quality and attention to
              detail make it a real gem among my accessories.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-items">
            <picture>
              <source
                srcset="
                  /img/reviews/anastasia-trachuk.webp    1x,
                  /img/reviews/anastasia-trachuk@2x.webp 2x
                "
                media="(min-width: 320px)"
              />

              <img
                class="reviews-img"
                src="/img/reviews/anastasia-trachuk.webp"
                width="56"
                height="56"
                alt="Anastasia Trachuk"
              />
            </picture>
            <h3 class="reviews-list-title">Anastasia Trachuk</h3>
            <p class="reviews-list-text">
              My watch from is a real masterpiece. Every detail impresses with
              the high quality of execution. Special features like [specify
              features] make it an indispensable companion in my daily life.
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-items">
            <picture>
              <source
                srcset="
                  /img/reviews/olena-kampusch.webp    1x,
                  /img/reviews/olena-kampusch@2x.webp 2x
                "
                media="(min-width: 320px)"
              />

              <img
                class="reviews-img"
                src="../img/reviews/olena-kampusch.webp"
                width="56"
                height="56"
                alt="Olena Kampusch"
              />
            </picture>
            <h3 class="reviews-list-title">Olena Kampusch</h3>
            <p class="reviews-list-text">
              Does the yellow-blue strap come with it? Can it be bought
              separately?
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-items">
            <picture>
              <source
                srcset="
                  /img/reviews/nazar-babenko.webp    1x,
                  /img/reviews/nazar-babenko@2x.webp 2x
                "
                media="(min-width: 320px)"
              />

              <img
                class="reviews-img"
                src="../img/reviews/nazar-babenko.webp"
                width="56"
                height="56"
                alt="Nazar Babenko"
              />
            </picture>
            <h3 class="reviews-list-title">Nazar Babenko</h3>
            <p class="reviews-list-text">
              The watch fits my wife&#44;s hand perfectly, according to her,
              it&#44;s just super, chic design and easy to use
            </p>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="reviews-items">
            <picture>
              <source
                srcset="
                  /img/reviews/victoria-dobrzhanska.webp    1x,
                  /img/reviews/victoria-dobrzhanska@2x.webp 2x
                "
                media="(min-width: 320px)"
              />

              <img
                class="reviews-img"
                src="../img/reviews/victoria-dobrzhanska.webp"
                width="56"
                height="56"
                alt="Victoria Dobrzhanska"
              />
            </picture>
            <h3 class="reviews-list-title">Victoria Dobrzhanska</h3>
            <p class="reviews-list-text">
              I bought it as a gift, I&#44;ll say this, they work for my money
            </p>
          </div>
        </li>
      </ul>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
