<section class="page-reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-items">
        <picture>
          <source
            srcset="
              /img/reviews/john-wax.png    1x,
              /img/reviews/john-wax@2x.png 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="reviews-img"
            src="/img/reviews/john-wax.png"
            width="56"
            height="56"
            alt="John Wax"
          />
        </picture>
        <h3 class="reviews-list-title">John Wax</h3>
        <p class="reviews-list-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </li>
      <li class="reviews-items active">
        <picture>
          <source
            srcset="
              /img/reviews/victoria-romashenko.webp    1x,
              /img/reviews/victoria-romashenko@2x.webp 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="reviews-img"
            src="../img/reviews/victoria-romashenko.png"
            width="56"
            height="56"
            alt="Victoria Romashenko"
          />
        </picture>
        <h3 class="reviews-list-title">Victoria Romashenko</h3>
        <p class="reviews-list-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </li>
      <li class="reviews-items is-active">
        <picture>
          <source
            srcset="
              /img/reviews/anastasia-trachuk.webp    1x,
              /img/reviews/anastasia-trachuk@2x.webp 2x
            "
            media="(min-width: 320px)"
          />

          <img
            class="reviews-img"
            src="/img/reviews/anastasia-trachuk.webp"
            width="56"
            height="56"
            alt="Anastasia Trachuk"
          />
        </picture>
        <h3 class="reviews-list-title">Anastasia Trachuk</h3>
        <p class="reviews-list-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </li>
    </ul>
  </div>
</section>
