  .advert {
      padding-top: 60px;
      padding-bottom: 60px;
  }
  
  .advert-bg {
      width: 100%;
      max-width: 335px;
      max-height: 363px;
      background-color: #0C0C0C;
      background-image: url('../img/advertisement/advertisement-mob.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 30px;
      /* margin: auto 60px;*/
      margin-left: auto;
      margin-right: auto;
  }
  
  .advert-text {
      font-family: "Gilroy", sans-serif;
      color: #FBFBFB;
      font-weight: 600;
      font-size: 32px;
      line-height: 1;
      letter-spacing: -0.02em;
      width: 279px;
      padding-top: 60px;
      padding-bottom: 136px;
  }
  
  .advert-transparent-text {
      color: rgba(251, 251, 251, 0.5);
  }
  
  .follow-to {
      /* display: block;*/
      width: 160px;
      height: 48px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.29;
      text-align: center;
      color: #FBFBFB;
      border: 1px solid #FBFBFB;
      border-radius: 4px;
      margin-right: auto;
  }
  
  @media screen and (min-width: 768px) {
      .advert {
          padding-top: 80px;
          padding-bottom: 80px;
      }
      .advert-bg {
          max-width: 704px;
          max-height: 425px;
          /* margin: auto 80px;
           padding-top: 80px;
          padding-bottom: 80px;*/
      }
      .advert-text {
          font-size: 48px;
          line-height: 0.92;
          width: 576px;
          padding-top: 80px;
          padding-bottom: 32px;
      }
  }
  
  @media screen and (min-width: 1280px) {
      .advert {
          padding-top: 100px;
          padding-bottom: 100px;
      }
      .advert-bg {
          /*padding-top: 100px;
          padding-bottom: 100px;*/
          max-width: 1150px;
          max-height: 298px;
      }
      .advert-text {
          padding-top: 83px;
          padding-bottom: 83px;
          width: 690px;
      }
  }
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
      .advert-bg {
          background-image: url('../img/advertisement/advertisement-mob@2x.webp');
      }
  }
  
  @media screen and (min-width: 768px) {
      .advert-bg {
          width: 100%;
          background-image: url('../img/advertisement/advertisement-tab.webp');
      }
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
          .advert-bg {
              background-image: url('../img/advertisement/advertisement-tab@2x.webp');
          }
      }
  }
  
  @media screen and (min-width: 1280px) {
      .advert-bg {
          width: 100%;
          background-image: url('../img/advertisement/advertisement-ds.webp');
      }
      @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
          .advert-bg {
              background-image: url('../img/advertisement/advertisement-ds@2x.webp');
          }
      }
  }