        /* CLASS FOR BACKGROUND IMAGE THE SECTION */
        
        .advertisement-bg {
            width: 100%;
            background-color: #0C0C0C;
            background-image: url('../img/advertisement/advertisement-mob.webp');
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            border-radius: 30px;
            padding-top: 60px;
            padding-left: 28px;
            padding-right: 28px;
            padding-bottom: 60px;
        }
        /* CLASS FOR TEXT THE SECTION */
        
        .advertisement-text {
            color: #FBFBFB;
            font-weight: 600;
            font-size: 32px;
            line-height: 1;
            letter-spacing: -0.02em;
            display: inline-block;
            margin-bottom: 28px;
        }
        
        .advertisement-transparent-text {
            color: rgba(251, 251, 251, 0.5);
        }
        /* CLASS FOR NAVIGATE BUTTON THE SECTION */
        
        .follow-to {
            display: inline-block;
            padding: 14px 20px;
            width: 160px;
            height: 48px;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.29;
            text-align: center;
            color: #FBFBFB;
            border: 1px solid rgba(251, 251, 251, 0.15);
            border-radius: 12px;
            cursor: pointer;
        }
        
        @media screen and (min-width: 768px) {
            .advertisement-bg {
                padding-top: 80px;
                padding-left: 64px;
                padding-right: 64px;
                padding-bottom: 80px;
            }
            .advertisement-text {
                font-size: 48px;
                line-height: 92%;
                letter-spacing: -0.02em;
                margin-bottom: 32px;
            }
        }
        
        @media screen and (min-width: 1280px) {
            .advertisement-bg {
                padding-top: 80px;
                padding-bottom: 80px;
                padding-right: 80px;
                padding-left: 80px;
            }
            .advertisement-text {
                max-width: 690px;
                margin-bottom: 0;
            }
            .follow-to {
                display: inline-block;
                padding: 14px 20px;
                width: 160px;
                height: 48px;
                vertical-align: top;
                margin-left: 135px;
            }
        }
        /*---MEDIA RULES FOR SELECTION A BACKGROUND IMAGE BASED ON DEVICE SCREEN AND PIXEL DENSITY--*/
        
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .advertisement-bg {
                background-image: url('../img/advertisement/advertisement-mob@2x.webp');
            }
        }
        
        @media screen and (min-width: 768px) {
            .advertisement-bg {
                /*width: 100%;*/
                background-image: url('../img/advertisement/advertisement-tab.webp');
            }
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .advertisement-bg {
                    background-image: url('../img/advertisement/advertisement-tab@2x.webp');
                }
            }
        }
        
        @media screen and (min-width: 1280px) {
            .advertisement-bg {
                /*  width: 100%;*/
                background-image: url('../img/advertisement/advertisement-ds.webp');
            }
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .advertisement-bg {
                    background-image: url('../img/advertisement/advertisement-ds@2x.webp');
                }
            }
        }
        
        .follow-to:hover,
        .follow-to:focus {
            color: #0C0C0C;
            background-color: #FBFBFB;
        }