.btn-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ffffff;
    background-image: linear-gradient(120deg, #3350E9 30%, #0C0C0C);
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    font-size: 20px;
    transition: opacity 0.3s linear, visibility 0.3s linear, transform 0.3s linear;
}

.btn-to-top:before,
.btn-to-top:after {
    content: '';
    border: 1px solid #3350E9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: -1;
}

.btn-to-top:before {
    border-color: #3350E9;
}

.btn-to-top:before {
    animation-name: pulse_1;
}

.btn-to-top:after {
    animation-name: pulse_2;
}

@keyframes pulse_1 {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }

    to {
        opacity: 0;
        transform: scale(1.4, 1.4);
    }
}

@keyframes pulse_2 {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }

    to {
        opacity: 0;
        transform: scale(1.7, 1.7);
    }
}