.footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer-container {
  background-color: var(--main);
  border-radius: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  min-width: 280px;
  max-width: 335px;
  padding: 40px 28px 28px;
}

.footer-wrapper-one {
  margin-bottom: 92px;
}

.footer-logo {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--background);
  display: inline-block;
  margin-bottom: 20px;
}

.media-list {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.media-item {
  width: 34px;
  height: 34px;
}

.media-link {
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--background);
  opacity: 0.8;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-item:hover .media-link,
.media-item:focus .media-link {
  opacity: 1;
}

.media-add {
  margin-bottom: 40px;
}

.address-tel {
  display: inline-block;
  padding: 14px 20px;
  min-width: 152px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  text-transform: uppercase;
  text-align: center;
  color: var(--background);

  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;

  cursor: pointer;
  font-style: normal;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-tel:hover,
.address-tel:focus {
  background-color: white;
  color: var(--main);
}

.footer-description {
  max-width: 279px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--background);
}

.footer-wrapper-two {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--background);
}

.nav-footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 48px;
}

.nav-footer::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -24px;
  width: 100%;
  height: 1px;
  background-color: rgba(251, 251, 251, 0.1);
}

.nav-list {
  max-width: 147px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
}

.nav-link {
  position: relative;
  padding: 8px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--background);
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -1px;
  display: block;
  top: 22px;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: currentColor;
  opacity: 0;
  color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:is(.current, :hover, :focus)::after {
  opacity: 1;
}

.address-city {
  max-width: 88px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--background);
  font-style: normal;
}

.copyrigth-wrapper {
  opacity: 0.9;
}

.copyright-description {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  margin-bottom: 8px;
}

.copyrigth-rules-list {
  display: flex;
  gap: 20px;
}

.copyrigth-rules-list {
  color: rgba(251, 251, 251, 0.5);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.copyrigth-rules-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.copyrigth-rules-link:hover,
.copyrigth-rules-link:focus {
  color: white;
}

@media only screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 32px;
  }

  .footer-container {
    max-width: 704px;
    padding: 40px 40px 28px;
    margin-bottom: 32px;
  }

  .footer-wrapper-one {
    margin-bottom: 100px;
    position: relative;
  }

  .footer-logo {
    font-size: 20px;
  }

  .media-list {
    margin-bottom: 86px;
  }

  .media-item {
    width: 36px;
    height: 36px;
  }

  .media-list-icon {
    width: 20px;
    height: 20px;
  }

  .media-add {
    position: absolute;
    top: 0;
    right: 0;
  }

  .address-tel {
    min-width: 160px;
    padding: 15px;
    font-size: 14px;
    line-height: 1.28571;
    text-transform: uppercase;
    text-align: center;
    color: var(--background);
    margin: 0;
  }

  .footer-description {
    max-width: 524px;
    font-size: 28px;
    line-height: 1.14286;
  }

  .nav-footer {
    margin-bottom: 56px;
  }

  .nav-footer::after {
    bottom: -28px;
  }

  .nav-list {
    max-width: 100%;
    flex-wrap: nowrap;
    gap: 19px;
  }

  .nav-link {
    font-size: 14px;
    line-height: 1.28571;
  }

  .nav-link::after {
    top: 28px;
  }

  .address-city {
    max-width: 166px;
    font-size: 14px;
    line-height: 1.28571;
  }

  .copyrigth-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .copyright-description {
    font-size: 14px;
    line-height: 1.28571;
    margin: 0;
  }

  .copyrigth-rules-list {
    display: flex;
    gap: 20px;
  }

  .copyrigth-rules-list {
    font-size: 14px;
    line-height: 1.28571;
  }
}

@media only screen and (min-width: 1280px) {
  .footer {
    padding-top: 50px;
  }

  .footer-container {
    max-width: 1216px;
    margin-bottom: 0;
  }

  .footer-wrapper-one {
    margin-bottom: 142px;
    padding: 0;
  }

  .footer-description {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-list {
    gap: 40px;
  }

  .nav-item {
    font-size: 14px;
    line-height: 1.28571;
  }

  .footer-wrapper-two {
    padding: 0;
  }
}
