/* ========= Page Hero styles ========= */
.page-hero {
  padding-top: 60px;
  padding-bottom: 30px;
}

.page-hero-description-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;

  left: 0;
}
.page-hero-description-title-blue {
  color: #3350e9;
}
.page-hero-description-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  margin-bottom: 28px;
  left: 0;
}
.hero-people-scroll {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;

  position: relative;
}
.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: #0c0c0c;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-scroll-link:hover,
.hero-scroll-link:focus {
  color: #3350e9;
}

.hero-person-list {
  display: flex;
  width: 108px;
}

.hero-person-list-item:nth-child(1) {
  top: 0;
  z-index: 1;
}
.hero-person-list-item:nth-child(2) {
  position: absolute;
  top: 0;
  left: 32px;
  z-index: 2;
}
.hero-person-list-item:nth-child(3) {
  position: absolute;
  top: 0;
  left: 64px;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .page-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .page-hero-description-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .page-hero-description-title {
    font-weight: 600;
    font-size: 70px;
    line-height: 0.86;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
  .page-hero-description-text {
    font-size: 16px;
    line-height: 1.25;
    width: 480px;
    margin-bottom: 0;
  }
  .hero-people-scroll {
    flex-direction: column;
    margin-bottom: 0;
  }
  .hero-person-list {
    display: flex;
    width: 136px;
  }
  .hero-person-list-item {
    width: 56px;
    height: 56px;
  }
  .hero-person-list-item:nth-child(2) {
    left: 41px;
  }
  .hero-person-list-item:nth-child(3) {
    left: 82px;
  }
  .hero-scroll-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
  }
}
@media screen and (min-width: 1280px) {
  .page-hero {
    padding-bottom: 50px;
  }
  .page-hero-description-title {
    font-size: 72px;
    width: 597px;
  }

  .hero-person-list {
    width: 146px;
  }
  .hero-person-list-item {
    width: 60px;
    height: 60px;
  }
  .hero-person-list-item:nth-child(2) {
    left: 44px;
  }
  .hero-person-list-item:nth-child(3) {
    left: 88px;
  }
}
