@media only screen and (max-width: 768px) {
    .mob-menu-container {
            padding-left: 0;
    }
    .mob-menu {
    
            position: fixed;
            top: 0;
            right: 0;
            width: 300px;
            height: 100%;
            background: #ffffff;
            opacity: 0;
            z-index: 4;
            background-color: #0C0C0C;
            visibility: hidden;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    

    .mob-menu.is-open {
            opacity: 1;
            visibility: visible;
        }

    .mob-menu-social-list {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

    .mob-menu-btn {
            position: absolute;
            top: 26px;
            right: 32px;
            fill: none;
        }

    .mob-menu-list {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            color: #fbfbfb;
            padding-top: 310px;
            padding-bottom: 350px;
        }

    .mob-menu-item {
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .mob-menu-item::after {
            content: "";
            position: absolute;
            display: block;
            left: 50%;
            margin-left: -4px;
            width: 8px;
            height: 8px;
            border-radius: 4px;
            background-color: currentColor;
            opacity: 0;
            color: #3350E9;
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .mob-menu-item:is(.current, :hover, :focus)::after {
            opacity: 1;
        }
}



.mob-menu-svg-icon-social {
    fill: #fbfbfb;
}

    
@media only screen and (min-width: 769px) {
            .mob-menu {
                display: none;
            }
}

@media only screen and (min-width: 0px) and (max-width: 376px) {
    .mob-menu-container {
            padding-left: 0;
        }

    .mob-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100%;
        background: #ffffff;
        opacity: 0;
        z-index: 4;
        background-color: #0C0C0C;
        visibility: hidden;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
