.mob-menu-social-list-item {
    border: 1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
}

.mob-menu-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 260px;
    margin-top: auto;
}

.mob-menu-social-list {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 10px;
    padding-left: 0;
}

.mob-menu-item {
    position: relative;
    left: 0;
    top: 0;
    align-items: center;
    display: flex;
    color: #ffffff;
    gap: 10px;
    padding-left: 0;
}

.mob-menu {

    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    background: #ffffff;
    opacity: 0;
    background-color: #0C0C0C;
    overflow: scroll;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
    opacity: 1;
    visibility: visible;
}

.mob-menu-btn {
    margin-top: 20px;
    margin-right: 20px;
    position: fixed;
    right: 0;
    top: 0;
}
.mob-menu-btn {
    background-color: 0;
}
.mob-menu-close-icon {
    stroke-width: 2.50px;
    stroke: #0a0909;
}

.mob-menu-svg-icon-social {
    stroke: #fbfbfb;
}

@media only screen and (min-width: 769px) {
    .mob-menu {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .mob-menu {
        display: none;
    }
}