/* Fonts styles */
@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url(/src/fonts/Gilroy/Gilroy-Semibold.woff), 
  url(/src/fonts/Gilroy/Gilroy-Semibold.woff2);
}

@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url(/src/fonts/Gilroy/Gilroy-Medium.woff),
  url(/src/fonts/Gilroy/Gilroy-Medium.woff2);
}

@font-face {
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
  font-style: normal;
  src: url(/src/fonts/Gilroy/Gilroy-Regular.woff),
    url(/src/fonts/Gilroy/Gilroy-Regular.woff2);
}
/* Root colors */
:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Gilroy", sans-serif;
}

.container {
  max-width: 320px;
  margin: 0 auto;
  font-family: "Gilroy", sans-serif;
  font-weight: normal;
}

@media only screen and (min-width: 0px) and (max-width:375px) {
  .container {
    max-width: 320px;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 16px;
  }
}

.section {
  padding-bottom: 30px;
  padding-top: 30px;
}

@media only screen and (min-width: 768pxpx) {
  .section {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}