.page-reviews {
  padding-bottom: 60px;
}
.reviews-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 24px;
}
.reviews-list {
  margin: 0 auto;
}
.reviews-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 32px 36px;
  max-width: 335px;
  min-height: 262px;
  background: #f3f3f3;
}
.is-active,
.active {
  display: none;
}
.reviews-img {
  margin-bottom: 24px;
}
.reviews-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  margin-bottom: 8px;
}
.reviews-list-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
}
@media screen and (min-width: 768px) {
  .page-reviews {
    padding-bottom: 80px;
  }
  .reviews-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
    margin-bottom: 40px;
  }
  .reviews-list {
    display: flex;
    gap: 16px;
    align-items: center;
  }
  .reviews-items {
    max-width: 344px;
    min-height: 272px;
  }
  .active {
    display: flex;
  }

  .reviews-list-title {
    font-size: 18px;
    line-height: 1.1;
  }
  .reviews-list-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .page-reviews {
    padding-bottom: 100px;
  }
  .reviews-list {
    gap: 20px;
    align-items: center;
  }
  .reviews-items {
    max-width: 370px;
  }
  .is-active {
    display: flex;
  }
}
